:root {
	--divider-size: 5px;
}

html {
	box-sizing: border-box;
	font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma,
		Sans-Serif;
	font-weight: normal;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
	font-size: 1.5em;
}

.main-grid {
	height: 100vh;
	width: 100vw;

	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr auto 1fr;
	grid-template-areas:
		'meeting divider--vr notes'
		'divider--hr divider--vr notes'
		'hud divider--vr notes';
}

.main-grid > * {
	width: 100%;
	height: 100%;
}

/* DIVIDERS */

.divider {
	background-color: black;
}

.divider--hr {
	grid-area: divider--hr;

	height: var(--divider-size);
}

.divider--hr:hover {
	cursor: ns-resize;
}

.divider--vr {
	grid-area: divider--vr;

	width: var(--divider-size);
}

.divider--vr:hover {
	cursor: ew-resize;
}

/* MEETING CONTAINER */

.meeting {
	grid-area: meeting;

	background-color: pink;
}

.meeting iframe {
	width: 100%;
	height: 100%;
}

.meeting iframe.no-mouse-events {
	pointer-events: none;
}

/* HUD CONTAINER */

.hud {
	grid-area: hud;

	background-color: red;
}

/* NOTES CONTAINER */

.notes {
	grid-area: notes;

	display: grid;
	grid-template-rows: auto auto 1fr;
}

.notes--options,
.notes--toolbar {
	--flex-gap-size: 0.45rem;

	display: flex;
	flex-wrap: wrap;

	padding: 0 calc(var(--flex-gap-size) / 2);

	background-color: whitesmoke;
	border-bottom: 2px solid black;
}

.notes--options > *,
.notes--toolbar > * {
	margin: calc(var(--flex-gap-size) / 2);
}

/* EDITOR */

.notes--editor {
	--line-height: 1.4rem;
	--font-size: 1rem;

	display: grid;
	grid-template: 1fr / 1fr;

	padding: 0.5rem;
	margin-bottom: 1rem;

	overflow-y: scroll;
}

.editor--input {
	font-size: var(--font-size);
	line-height: var(--line-height);

	padding: 0.5rem;

	border-bottom: 2px solid black;
}

.editor--input:focus {
	outline: none;
	border: 2px solid black;
	border-radius: 10px;
}

.editor--input > * {
	margin: 0;
}

/* BUTTONS */

.button {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;

	padding: 0.5rem;

	background-color: transparent;
	border: none;
	border-radius: 15%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.button__drop-down {
	max-width: 50px;
}

